@media only screen and (min-width: 2559px) {

	.social-links{
		bottom: 9%;
		right: -7%;
	}

	.slider-style-two {
		/* display: flex;
		justify-content: center; */
		/* align-items: center; */
		padding-top: 422px;
	}

	.hi_icon{
		margin-left: 21%;
	}

	.LpOverview-area{
		/* padding-top: 100px; */
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* .pt-115{
		padding-top: 150px!important;
	} */

	.OverviewSection{
		height: 54%;
	}

	.OverviewSection:nth-child(4){
		top: -114%;
	}

	.OverviewSection:nth-child(2){
		top:-55%;
	}


	#carousel{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.MTTbuttons{
		bottom: 22%;
	}

	.main-button .dropdown-arrow{
		right: -11%;
		height: 1.7em;
		position: relative;
		right: -11%;	
	}



}


@media only screen and (max-width: 1440px) {
		
	.topnav{
		/* background-color: blue!important; */
		/* height: 100px; */
		/* width: 100px; */
	}
	
	.social-links{

	}

	.social_img{
		min-width: 31px;
	}

	.second{
		min-width: 29px;
	}

	.hi_icon{
		top:-13%;
		margin-left: 37%;
	}

	.LpOVerviewheader p{
		font-size: 44px;
		line-height: 45px;
	}

	.LpOVerviewheader p span{
		font-size: 44px;
		line-height: 45px;
	}

	.OverviewSection p{
		font-size: 15px;

	}

	.OverviewSection:nth-child(3){
		top:-49%;
	}

	.OverviewSection:nth-child(4){
		top:-109%;
	}

	.MTTbuttons{
		bottom: 5%;
	}

	#carousel div img{
		width: 470px;
	}

	#carousel div.next img{
		width: 349px;
	}

	#carousel div.prev img{
		width: 349px;
	}

	.slideshow-container{
		width: 62vw;
	}

}





@media only screen and (max-width: 1366px) {

	.topnav li.active{
		left: 8%;
	}

	.logoLoopMe{
		width: 174px;
	}

	.slider-style-two{
		padding-top: 235px;
	}


	.MTTbuttons{
		bottom: -1%;
	}

	#carousel div img{
		width: 417px;
	}

	.LpOverview-area .container{
		width: 62%!important;
	}

	.LpOverviewSections{
		margin-top: 7%;
	}

	#carousel{
		transform: translateY(-36%);
	}


	.LpWe_dots{
		margin-top: 7%;
	}

	.headerLpWe{
		font-size: 56px;
	}

	.slideshow-container{
		width: 68vw;
	}

	#root > div > main > div.main_bg_4 > section > div.container > div.row.justify-content-center > div > div{
		padding-bottom: 5px;
	}

	.Benefits-dotLpWe{
		height: 56px;
		width: 56px;
	}

	.benefits-SlideShowMainImg{
		max-height: 64%;
	}

	.Benefits_dots_circles{
		 margin-bottom: 4%;
	}

	.allJobs{
		height: 62%!important;
	}

}

@media only screen and (max-width: 1024px) {

	.logoLoopMe{
		width: 141px;
	}

	.viewjobsbtn{
		right: 7%;
	}

	.container_Social{
		margin: 10%;

	}

	canvas{
		width: 99%;
	}

	.LpOVerviewheader p span{
		font-size: 32px;
	}

	.LpOVerviewheader p{
		font-size: 32px;
		line-height: 32px;
	}

	.OverviewSection:nth-child(1){
		/* left: -12%; */
		/* top: -4%; */
	}

	.OverviewSection p{
		font-size: 5px;
	}


}

	@media only screen and (max-width: 768px) {

		.logoLoopMe{
			width: 111px;	
		}

		.viewjobsbtn{
			right: 3%;
		}

		.topnav li.active{
			left: 5%;
		}

		.nav_option a{
			font-size: 10px;
		}

		.viewjobsbtn img{
			height: 21px;
		}

		.container_Social{
			margin: 14%;
		}

		.social-links{
			right: 0%;
		}

		canvas{
			height: 46%;
		}

		.MTTbuttons{
			bottom: 28%;
		}

		









}


/* Built In This Size */
@media only screen and (max-width: 1920px) {
}


/* Tablet Sizes */





/* MOBILE */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
	/* Header */
	
		.topnav li.active {
			/* background-color: #04AA6D; */
			/* color: white; */
			position: absolute;
			left: 0%;
		}
	
	
		.logoLoopMe {
			width: 110px;
		}
	
		.slider-style-two {
			background-image: url(https://i.loopme.me/gwd/test/LP_website/img/bg/Mobile_HeroBackgroundCurved.png);
			padding: 110px 0 0px 0px;
			position: relative;
			z-index: 1;
			height: 100vh;
			display: flex;
			align-items: center;
		
		}
	}


@media only screen and (max-width: 414px) {

	#header{
		margin-top: 9%;
	}

	.logoLoopMe{
		width: 120px!important;
	}

	.homepageHeader{
		font-size: 58px!important;
	}

	#lp_logo{
		left: 2%;
	}

	#openclosebtn{
		width: 38px;
		height: auto;
	}

	.topnav li.icon{
		padding-top: 0px;
		padding-right: 8%;
	}

	.hi_icon{
		margin-left: 0%!important;
	}

	.slider-style-two .slider-content p{
		font-size: 16px!important;
		line-height: 25px!important;
	}

	.slider-style-two{
		background-image: url(https://i.loopme.me/gwd/test/LP_website/img/bg/mobileBackground_home_curved.png)!important;
		/* background-size: contain!important; */
		/* width: 100vw; */
		background-size: 100% 100% !important;
	}

	.social-links{
		display: none!important;
	}

	.fade_1{
		padding: 2%;
	}

	/* .slider-content a{
		position: absolute;
		bottom: -21%;
	} */

	.spaceBG{
		background-position: top right!important;
	}

	.wwloopers-bg{
		padding-top: 44px!important;
	}

	.wwLoopers_p{
		font-weight: 400!important;
		font-size: 14px!important;
		line-height: 24px!important;
		width: 100%!important;
	}

	.wwloopers-content{
		padding: 0 39px!important;
	}


	.hero-section_content{
		/* display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column; */
	}

	.hero-section{
		display: flex!important;
		justify-content: center;
		align-items: center;
	}

	.hero-section_content{
		width: 90%;
	}

	.font-xxl{
		color: white;
	}

	.font-s{
		color: #BDBDBD;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
	}

	.canvas-wrapper{
		background-color: black;
	}

	.canvas-wrapper canvas{
		width: 100%;
		height: auto;
	}

	.LpOVerviewheader p span{
		font-size: 31px!important;
		line-height: 30px!important;
		text-align: center;
		margin-bottom: 6px;
	}

	.LpOVerviewheader p{
		font-size: 31px!important;
		line-height: 30px!important;
		text-align: center!important;
	}

	.LpOverview-area .container{
		padding: 0;
		display: flex;
		/* justify-content: center; */
		width: 100%!important;
	}

	.LpOVerviewheader{
		/* width: 95%; */
	}

	.main_bg_1 .pt-115{
		padding-top: 70px!important;
	}

	.main_bg_1 .pb-90{
		padding-bottom: 20px!important;
	}

	.LpOverviewSections{
		display: none!important;
	}

	.LpOverviewSections_mobileGallery{
		display: flex!important;
	}

	.LpOverview-area .container{
		flex-direction: column;
		height: 100%;
	}

	#carousel div.next{
		display: none;
	}

	#carousel div.prev{
		display: none;
	}

	#carousel div.selected{
		width: 90%;
	}

	.dotLpMTTP{
		margin: 5px;
	}

	#carousel{
		display: flex;
		align-items: center;
	}

	.MTTbuttons{
		bottom: 10%!important;
	}

	.slideshow-container{
		width: 100%!important;
		flex-direction: column;
	}

	.mySlides{
		/* flex-direction: column; */
		width: 100%!important;
		justify-content: flex-start!important;
	}

	.lpWE-area{
		margin-top: 0px;
	}

	.headerLpWe{
		font-size: 33px!important;
		margin-bottom: 0%!important;
		line-height: 41px!important;
		
	}

	.textLpWe{
		font-size: 12px!important;
	}

	.lpWE-area{
		margin-top: 0px!important;
	}

	.dot_text{
		display: none!important;
	}

	.LpWe_dots{
		flex-direction: row;
    	display: flex;
		width: 100%;
		justify-content: center;
		margin-top: 0%!important;
	}

	.dotLpWe{
		width: 16px!important;
		height: 16px!important;
	}

	.SlideShowImg{
		/* width: 90%!important; */
	}

	.main_bg_4 .pt-115{
		padding-top: 68px;	
	}

	.Benefits-dotLpWe{
		width: 36px!important;
		height: 36px!important;
	}

	.benefits-SlideShowMainImg img{
		height: 100%;
	}

	.main_bg_5{
		height: 150vh!important;
	}




/* Hiring */
	
	.hiring-area {
		padding: 0;
	}

	.hiring_container {
		border-radius: 24px!important;
		padding: 13px!important;

	}

	#myUL .list_hiring {
		height: 11vh!important;
		flex-direction: column!important;
		align-items: flex-start!important;
	}

	.hiring_search_filter_container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 0px!important;
	}

	.search{
		width: 100%!important;
		height: 70px;
	}
	
	.filter {
		flex-direction: row!important;
		flex-wrap: wrap;
		margin-top: 2px!important;
	}

	.filter > * {
		margin-top: 3%!important;
		margin-left: 0!important;
	}

	.filter_country_img {
		margin-left: 4.5%!important;
	}

	.filter_country_img img {
		max-width: 36px!important;
		max-height: 36px!important;
	}

	.dropdown-container{
		align-self:flex-end;
	}

	.dropdown-list-container{
		width: 70%;
	}

	.dropdown-arrow{
		height: 40px!important;
	}

	.dropdown-arrow svg{
		height: 20px;
	}

	.main-button {
		padding-right: 0px!important;
		width: 100%!important; 
		height: 40px!important;
	}

	.dropdown-button span, .dropdown-button svg{
		font-size: 16px!important;
		right: 0!important;
		display: flex;
    	align-items: center;
	}

	
	.list_hiring{
		/* display: none!important; */
	}

	.repo_tlt_pic {
		/* display: non!importante; */
		box-shadow: none!important;
		display: none;
	}

	.repo-title {
		width: 100%!important;
		height: 33%!important;
	}

	.repo-title div {
		background-color: transparent!important;
		color: red!important;
		width: 100%!important;
		text-align: left!important;
	}


	.repo-city-state {
		/* display: none; */
		width: 100%!important;
		order: 3!important;
		font-size: 14px!important;
		/* background-color: blue; */
		border-top: 1px solid grey!important;
		text-align: left!important;
		padding-top: 5px!important;
	}

	.seperation_border{
		display: none!important;
	}

	.repo-department {
		font-size: 14px!important;
		width: 28%!important;
		text-align: left!important;
		/* background-color: red; */
		color: red!important;
		order: 2!important;
		position: relative!important;
		top: 23%!important;
		border: 0!important;
		border-right: 1px solid red!important;
		/* border-spacing: 20px; */
		/* margin-right: 10px; */
		height: 16px;
		display: flex;
		align-items: center;
	}

	.repo-employ-type {
		/* display: none; */
		font-size: 14px!important;
		order: 2!important;
		/* background-color: yellow; */
		color: red!important;
		position: relative!important;
		top: -19%!important;
		right: -29%!important;

	}

	.search{
		height: 40px;
	}



	#inputSearch_img{
		max-width: 42px;
	}

	li.dropdown-list-item{
		height: 60px!important;
	}

	.allJobs{
		padding-right: 12px!important;
	}






	


/* #010101; */

}